<section class="conocimientos" id="conocimientos">
  <h2>Conocimientos Informáticos</h2>
  <div class="cono-img">
    <img src="/images/cono4.jpg" alt="javascript">
    <img src="/images/cono5.jpg" alt="node js">
    <img src="/images/cono6.jpg" alt="express">
    <img src="/images/cono7.jpg" alt="react">
    <img src="/images/cono3.jpg" alt="vs code">
    <img src="/images/cono1.jpg" alt="word">
    <img src="/images/cono2.jpg" alt="excel">
    <img src="/images/cono8.jpg" alt="sap sd">
    <img src="/images/cono9.jpg" alt="autocad">
    <img src="/images/cono10.jpg" alt="solid edge">
    <img src="/images/cono11.jpg" alt="lince indumentaria">
    <img src="/images/cono12.jpg" alt="redes sociales">
        
</div>
  <hr>
</section>