<section class="contacto" id="contacto">
  <h2>Contactame!</h2>
  <div class="contacto-img">
    <a href="mailto:alegw1@gmail.com?Subject=Hola!%20Quiero%20contactarte%20"><img src="/images/email.jpg"
        alt="Correo electrónico"></a>
    <a href="https://www.linkedin.com/in/alexisgw" target="_blank"><img src="/images/linkedin.jpg" alt="Linkedin"></a>


    <div id="imagen">
      <div class="infocontact">
        <div class="texto">
          <br>
          WhatsApp: <br>
          +54 9 1136667406<br>
          Llamadas: <br>
          +54 9 1136667406<br>
          +39 333 3663449</div>
      </div>
    </div>


    <a href="https://www.instagram.com/alegw1/" target="_blank"><img src="/images/ig.jpg" alt="Instagram"></a>
    <a href="https://www.facebook.com/alexis.garcia.33671/" target="_blank"><img src="/images/fb.jpg"
        alt="Facebook"></a>
  </div>
  <hr>
</section>