<section class="experiencia" id="experiencia">
  <h2>Experiencia Laboral</h2>
  <div class="infoBox">
    <p>
    <ul>
      <li>
        <a href="https://zigantetartufi.com/" target="_blank">
          <h3>Zigante Tartufi d.o.o.</h3>
        </a>
        Enero 2023 / Actualidad.
        <h5>Ubicación: Portoroška 15, Plovanija (52460) Buje, Croacia</h5>
        <h4>Logros / Tareas:</h4>
        <ul>
          <li>Operario de producción</li>
        </ul>
      </li>

      <br>
      <li>
        <a href="http://www.swimdays.com/" target="_blank">
          <h3>Reasons S.R.L.</h3>
        </a>
        Agosto 2013 / Noviembre 2022.<br>
        Fábrica textil de trajes de baños para mujer
        <h5>Ubicación: Bella Vista (1661), Buenos Aires, Argentina</h5>
        <h4>Logros / Tareas:</h4>
        <ul>
          <li>Exportaciones e Importaciones</li>
          <li>Facturación y manejo de cuentas corrientes de clientes y proveedores</li>
          <li>Trámites en entidades bancarias y públicas</li>
          <li>Depósito</li>
        </ul>
      </li>
      <br>
      <li>

        <h3>Reparto Panificadora Bimbo</h3>

        Septiembre 2012 / Julio 2013.
        <h5>Ubicación: San Miguel (1663), Buenos Aires, Argentina</h5>
        <h4>Logros / Tareas:</h4>
        <ul>
          <li>Reparto y reposición de panificados</li>
        </ul>
      </li>
      <br>
      <li>

        <h3>Cadete administrativo despachante de aduanas</h3>

        Febrero 2012 / Julio 2012.
        <h5>Ubicación: San Telmo (CABA), Buenos Aires, Argentina</h5>
      </li>
    </ul>
    </p>
  </div>
  <hr>
</section>