<section class="formacion" id="formacion">
  <h2>Formación Académica</h2>
  <div class="infoBox">
    <p>
    <ul>
      <li>
        <h3>Programador Web Full Stack</h3>
        <a href="https://www.digitalhouse.com/" target="_blank">Digital House</a> - Enero 2022 / Septiembre 2022.
        <a href="/images/fullStack.pdf" target="_blank"><h4>Certificado</h4></a>
      </li>
      <br>
      <li>
        <h3>Ingeniería Electromecánica con orientación a Automatización</h3>
        <a href="https://www.ungs.edu.ar/" target="_blank">Universidad Nacional de General Sarmiento</a> - Julio 2015 /
        Actualidad.
      </li>
      <br>
      <li>
        <h3>Tecnico Superior en Turismo</h3>
        <a href="http://ispcsecterc.blogspot.com/" target="_blank">Instituto Superior Palomar de Caseros</a> - 2011 /
        2013
        - 3er año Tecnicatura Superior en Turismo - Incompleto.
      </li>
      <br>
      <li>
        <h3>Bachiller completo con Orientación a Ciencias Naturales</h3>
        Instituto San Jose de Muñiz - Finalización Diciembre 2010.
      </li>
      <br>
    </ul>

    </p>
  </div>
  <hr>
</section>