<section class="fotosxelmundo" id="fotosxelmundo">
  <h2>Fotos por el Mundo</h2>
  </div>

  <div class="fotosxelmundo-img">
    <img src="/images/fotos/1.jpg" onclick="openFullImg(this.src)" alt="Espa単a" style="cursor:zoom-in">
    <img src="/images/fotos/2.jpg" onclick="openFullImg(this.src)" alt="Espa単a" style="cursor:zoom-in">
    <img src="/images/fotos/3.jpg" onclick="openFullImg(this.src)" alt="Torre Eiffel" style="cursor:zoom-in">
    <img src="/images/fotos/4.jpg" onclick="openFullImg(this.src)" alt="Arco del triunfo" style="cursor:zoom-in">
    <img src="/images/fotos/5.jpg" onclick="openFullImg(this.src)" alt="Estatua de la Libertad" style="cursor:zoom-in">
    <img src="/images/fotos/6.jpg" onclick="openFullImg(this.src)" alt="Umpire State NY" style="cursor:zoom-in">
    <img src="/images/fotos/7.jpg" onclick="openFullImg(this.src)" alt="Las vegas" style="cursor:zoom-in">
    <img src="/images/fotos/8.jpg" onclick="openFullImg(this.src)" alt="San Francisco" style="cursor:zoom-in">
    <img src="/images/fotos/9.jpg" onclick="openFullImg(this.src)" alt="Disney" style="cursor:zoom-in">
    <img src="/images/fotos/10.jpg" onclick="openFullImg(this.src)" alt="Starwars world" style="cursor:zoom-in">
    <img src="/images/fotos/11.jpg" onclick="openFullImg(this.src)" alt="Ca単on del colorado" style="cursor:zoom-in">
    <img src="/images/fotos/12.jpg" onclick="openFullImg(this.src)" alt="Ca単on del colorado 2" style="cursor:zoom-in">
    <img src="/images/fotos/13.jpg" onclick="openFullImg(this.src)" alt="Hollywood" style="cursor:zoom-in">
    <img src="/images/fotos/14.jpg" onclick="openFullImg(this.src)" alt="Yosemite" style="cursor:zoom-in">
    <img src="/images/fotos/15.jpg" onclick="openFullImg(this.src)" alt="Angkor Wat, Camboya" style="cursor:zoom-in">
    <img src="/images/fotos/16.jpg" onclick="openFullImg(this.src)" alt="Tailandia" style="cursor:zoom-in">
    <img src="/images/fotos/17.jpg" onclick="openFullImg(this.src)" alt="Hong Kong" style="cursor:zoom-in">
    <img src="/images/fotos/18.jpg" onclick="openFullImg(this.src)" alt="La bombonera" style="cursor:zoom-in">
    <img src="/images/fotos/19.jpg" onclick="openFullImg(this.src)" alt="Machu pichu" style="cursor:zoom-in">
    <img src="/images/fotos/20.jpg" onclick="openFullImg(this.src)" alt="Brasil" style="cursor:zoom-in">
    <img src="/images/fotos/21.jpg" onclick="openFullImg(this.src)" alt="Mendoza" style="cursor:zoom-in">
    <img src="/images/fotos/22.jpg" onclick="openFullImg(this.src)" alt="Mendoza 2" style="cursor:zoom-in">
    <img src="/images/fotos/23.jpg" onclick="openFullImg(this.src)" alt="Mendoza 3" style="cursor:zoom-in">
    <img src="/images/fotos/24.jpg" onclick="openFullImg(this.src)" alt="La rioja" style="cursor:zoom-in">

  </div>
</section>