<header class="site-header inicio home" id="home">
  <button id="butd" onclick="dia()">☀️</button>
  <button id="butn" onclick="noche()">🌙</button>
  <h1>Hola! Soy Alexis Garcia</h1>
</header>
<nav>
  <ul class="nav-links">
    <li>
      <a href="#home"> Home </a>
    </li>
    <li>
      <a href="#info"> Información Personal </a>
    </li>
    <li>
      <a href="#formacion"> Formación Académica </a>
    </li>
    <li>
      <a href="#experiencia"> Experiencia Laboral </a>
    </li>
    <li>
      <a href="#conocimientos"> Conocimientos Informáticos </a>
    </li>
    <li>
      <a href="#idiomas"> Idiomas </a>
    </li>
    <li>
      <a href="#contacto"> Contactame </a>
    </li>
    <li>
      <a href="#fotosxelmundo"> Conociendo el mundo </a>
    </li>
  </ul>
</nav>
