<section class="idiomas" id="idiomas">
  <h2>Idiomas</h2>
  <div class="idioma-img">
    <h3 style="text-align: center"><img src="/images/ingles.jpg" alt="Ingles"><br>
      Inglés<br>
      Avanzado ⭐⭐⭐⭐✰
    </h3>
    <h3 style="text-align: center"><img src="/images/italian.jpg" alt="Italiano"><br>
      Italiano<br>
      Medio ⭐⭐✰✰✰
    </h3>
    <h3 style="text-align: center"><img src="/images/portugues.jpg" alt="Portugues"><br>
      Portugués<br>
      Básico ⭐✰✰✰✰
    </h3>

  </div>
  <hr>
</section>