<section class="info" id="info">
  <h2> Acerca de mi</h2>
  <div class="infoBox">
    <p>
      Mi nombre es Alexis Garcia Williams, nacido en Argentina.<br>
      Tengo 30 años y soy Programador Web Full Stack. Tambien fuí estudiante de Ingeneria Electromecanica en la
      Universidad Nacional de General Sarmiento, Buenos Aires, Argentina.
      Por motivos personales en diciembre de 2022 me mudé a Europa, especificamente estoy viviendo en <a
        href="https://goo.gl/maps/rLKpcZkNvynH4azC8" target="_blank">Buje, Croacia</a>; donde comencé a trabajar y
      proximamente a estudiar.<br>
      Por el momento está suspendido mi estudio de Ingenieria, ya que estoy en proceso de matricularme en la Universidad
      de Trieste, Italia para continuar con mis estudios.<br>
      Me considero una persona:
      <br>      
    <ul>
      <li>Profesional</li>
      <li>Responsable y comprometido</li>
      <li>Detallista</li>
      <li>Autonomo y proactivo</li>
    </ul>
    Interesado en puestos que me permitan demostrar el conocimiento y las capacidades que adquirí mediante mi experiencia laboral y estudios. Orientado a sumar nuevos aprendizajes que nutran mi profesión.

    </p>
  </div>
  <hr>
</section>